@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&family=Titillium+Web&display=swap');

/* ================================ 
        GENERAL STYLES
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
  background-color: #161c1f;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #040F14;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin: 8vh 0 4vh 0
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

.button {
  padding: 1.2rem 2.4rem;
  background-color: #FF4654;
  border: none;
  border-radius: 1.2rem;

  a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
  }
}

.main {
  margin-left: 74px;
  padding-top: 64px;
}

.mainWrapper {
  padding: 0 5% 5vh 5%;
}

/* ================================ 
        Navigation
================================ */
.navWrapper {
  position: absolute;
  width: 100%;
}

.navigation {
  display: flex;
  position: fixed;
  height: 100%;
  z-index: 5;

  .navBar {
    border-right: 2px solid #FFF;
    width: 74px;
    background-color: #040F14;
    transition: width .3s ease-out;



    .hamburger {
      width: 24px;
      margin: 18px auto 35vh auto;
      cursor: pointer;

      div {
        border: 1px solid #FFF;
        border-radius: 2px;
        margin-bottom: 10px;
      }
    }

    .icons {

      a {
        height: 100%;
        border-radius: 15px;
        margin: 20px 10px;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
          font-size: 2rem;
          font-family: 'Source Sans Pro', sans-serif;
        }
      }
    }
  }
}

.logo {
  margin-top: 16px;
  transition: margin .3s ease-out;
  position: fixed;
  z-index: 5;
}

/**** Active Button ****/
.activeButton {
  background-color: #FF4654;
}

/**** Search Bar****/
.searchBarWrapper {
  position: absolute;
  right: 0;
}

form {
  position: fixed;
  transform: translateX(-110%);
  margin-top: 16px;

  input {
    display: inline-block;
    font-size: 2rem;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #375470;
    background-image: url('./img/Search.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
  }
}

/* ================================ 
        Headers
================================ */
header {
  background: url('./img/Home_Header.png') center / cover no-repeat;
  height: 583px;
  display: flex;
  align-items: flex-end;

  h1 {
    padding: 0 0 5% 5%;
    width: 40%;
    line-height: 1.2;
  }
}

/* ================================ 
        Grid Design
================================ */
.fourGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  transition: all 0.5s;
  gap: 20px;
}

.fourGrid div {
  transition: all 0.5s;
}

/* ================================ 
        GameItem
================================ */
.gameItem {
  background-color: #102130;
  border-radius: 24px;

  &>img {
    width: 100%;
    border-radius: 24px;
  }

  &>div {
    margin: 3.6rem 2.4rem;
    height: 230px;
    display: grid;
    grid-template-rows: 20% 40% 40%;


    p {
      display: none;
    }

    &>div:first-of-type {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    }
  }

  .bottomIcons {
    height: 100%;
    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      border: 1px solid #FF4654;
      margin-right: 1rem;
      border-radius: 14px;
      height: 3.4rem;
      padding: 0 1rem;
      font-family: 'Oswald', sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

/***** Grid with p for "Recently Added" 4 Items on Home Page *****/
.recentlyFour {

  &>div>div {
    grid-template-rows: 20% 30% 30% 20%;
    height: 360px;



    p {
      color: #AFC7DF;
      overflow: hidden;
      line-height: 2rem;
      max-height: 8rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
    }
  }
}

/* ================================ 
        Home
================================ */
.showMore {
  display: flex;
  justify-content: flex-end;
  margin-top: 3vh;
}

/**** Top 4 PC Games ****/
.topFourPC {
  display: flex;

  .leftBigPicture {
    width: 40%;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;

    .gameItem {
      width: 100%;
      height: 100%;
      background-color: unset;
      display: flex;
      align-items: flex-end;

      &>img {
        display: none;
      }

      &>div {

        h3 {
          font-size: 4.2rem;
          text-transform: uppercase;
        }

        &>div {
          border: unset;
        }

        .bottomIcons div {
          background-color: #102130;
        }
      }
    }
  }

  .topFourRight {
    display: flex;
    flex-direction: column;
    width: 60%;

    .gameItem {
      display: flex;
      margin-bottom: 20px;

      &>div {
        height: unset;

        &>div {
          margin-top: 2vh;
          border: unset;
        }
      }

      &>div {
        width: 40%;
      }
    }

    .gameItem:last-of-type {
      margin-bottom: unset;
    }
  }
}

/* ================================ 
            Filters
================================ */

.filters {
  margin: 20px 0;
  z-index: 4;


  .filterButton {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    position: relative;

    .filterTitle {
      background-color: #FF4654;
      border-radius: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-size: 1.8rem;
      padding: 1.2rem 2.4rem;
      z-index: 4;

      p {
        font-size: 1.8rem;
      }

      div {
        cursor: pointer;
      }


    }

    .filterList {
      position: absolute;
      width: 100%;
      top: 80%;
      padding-top: 10px;
      background-color: #102130;
      padding: 10px;



      div {
        border-radius: 12px;
        background-color: #385470;
        font-family: Oswald;
        margin: 10px 0;
        padding: 1.5vh 10%;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
      }

      button {
        text-align: left;
        border-radius: 12px;
        background-color: #385470;
        font-family: Oswald;
        margin: 10px 0;
        padding: 1.5vh 10%;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        color: #FFF;
        border: none;
        display: block;
        width: 100%;
      }



    }
  }

}

.scrollContainer {
  overflow: auto;
  max-height: 275px;
}